<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header') %>

<body>
    <%- include('./partials/nav') %>
    <h1>Bookings</h1>
    <div class="flex flex-col">
        <div>
            
        </div>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>