<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/header.ejs') %>
    
<body>

  <%- include('./partials/nav.ejs') %>
  
  <div><a href="/login"> Login</a>
    <a href="/signup"> Signup</a></div>

  <div class="flex flex-row mt-4 p-10 justify-between">
    <div class="basis-2/4 md:basis-1/4 mr-10 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg" src="/images/feature-1.jpg" alt="feature-1" width="100%">
      <div class="p-5">
          <a href=""><h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">2000+ Our Worldwide Guide</h5></a>
      </div>
    </div>
    <div class="basis-2/4 md:basis-1/4 mr-10 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
      <img class="rounded-t-lg" src="/images/feature-2.jpg" alt="feature-2" width="100%">
      <div class="p-5">
        <a href=""><h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">100% Trusted Tour Agency</h5></a>
      </div>
   </div>
   <div class="basis-2/4 md:basis-1/4 mr-10 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <img class="rounded-t-lg" src="/images/feature-3.jpg" alt="feature-3" width="100%">
    <div class="p-5">
      <a href=""><h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">12 Years of Travel Experience</h5></a>
    </div>
 </div>
 <div class="basis-2/4 md:basis-1/4 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
  <img class="rounded-t-lg" src="/images/feature-4.jpg" alt="feature-4" width="100%">
  <div class="p-5">
    <a href=""><h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">98% of Our Travelers are Happy</h5></a>
  </div>
</div>
  </div>

  <%- include('./partials/footer.ejs') %>

  <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</body>
</html>