<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header') %>
<body class="font-sans flex flex-col justify-center items-center">
  <%- include('./partials/nav') %>

    <div class="flex flex-col w-full relative">
        <div class="absolute w-full h-full flex flex-col top-0 left-0 justify-center px-8">
            <div class="text-3xl font-bond text-white px-8 uppercase">Explore Your<br>world</div>
            <div class="text-2xl font-bond text-white px-8">Discover your next great adventure, become an explorer to get started!</div>
            <div class="mt-4 px-4 py-3 items-center justify-center">
                <form action="/" method="post" class="w-full text-gray-600 mt-4 px-8 md:px-0">
                    <div class="flex flex-col md:flex-row">
                        <label for="where" class="sr-only">Where to</label>
                        <input autocomplete="off"
                            class="bg-gray-300 mt-4 md:mx-2 border border-gray-300 rounded-lg py-2 px-4 block w-full md:w-1/2 focus:outline-none focus:shadow-outline"
                            type="text" placeholder="Where to" id="Where">
        
                        <label for="when" class="sr-only">When?</label>
                        <input autocomplete="off"
                            class="bg-gray-300 mt-4 md:mx-2 border border-gray-300 rounded-lg py-2 px-4 block w-full md:w-1/2 focus:outline-none focus:shadow-outline"
                            type="date" placeholder="When?" id="When">
                    </div>

                    <div class="flex flex-col md:flex-row">
                        <label for="travelType" class="sr-only">Travel Type</label>
                        <select id="travelType" name="travelType" class="bg-gray-300 mt-4 md:mx-2 border border-gray-300 rounded-lg py-2 px-4 block w-full md:w-1/2 focus:outline-none focus:shadow-outline">
                            <option value="adventure">Adventure Tour</option>
                            <option value="city">City Tour</option>
                            <option value="couple">Couple Tour</option>
                            <option value="group">Group Tour</option>
                        </select>
        
                        <label for="find" class="sr-only">Find now</label>
                        <input autocomplete="off"
                            class="bg-rose-300  mt-4 md:mx-2 border border-rose-400 rounded-lg py-2 px-4 block w-full md:w-1/2 focus:outline-none focus:shadow-outline"
                            type="submit" value="FIND NOW" id="find">
                    </div>
                
                </form>
            </div>
        </div>
        
        <img src="images/ballon.jpg" alt="Hero image" height="100">
    </div>
    

    <div class="mt-16">
        <p class="flex-col text-gray-300 uppercase font-bold text-center">TRAVELLA SPECIALS</p>
        <p class="flex-col text-blue-600 font-bold text-center text-2xl">Why Travel with Travella?</p>
        
        <div class="flex flex-col md:flex-row w-full justify-center items-center">
            <div class="px-4 py-3">
                <div class="bg-white border border-gray-200 rounded-lg shadow-lg mt-8">
                    <img src="images/feature-1.jpg" alt="feature">
                    <div class="text-gray-900 text-center font-bold p-8">2000+ our worldwide guide</div>
                </div>
            </div>
            
            <div class="px-4 py-3">
                <div class="bg-white border border-gray-200 rounded-lg shadow-lg mt-8">
                    <img src="images/feature-2.jpg" alt="feature">
                    <div class="text-gray-900 text-center font-bold p-8">100% Trusted Tour Agency</div>
                </div>
            </div>
            
            <div class="px-4 py-3">
                <div class="bg-white border border-gray-200 rounded-lg shadow-lg mt-8">
                    <img src="images/feature-3.jpg" alt="feature">
                    <div class="text-gray-900 text-center font-bold p-8">12+ Years of Travel Experience</div>
                </div>
            </div>

            <div class="px-4 py-3">
                <div class="bg-white border border-gray-200 rounded-lg shadow-lg mt-8">
                    <img src="images/feature-4.jpg" alt="feature">
                <div class="text-gray-900 text-center font-bold p-8">99% of our travelers are happy</div>
            </div>
    
        </div>

    </div>

    <div class="mt-8  w-full  p-8">
        <div class="flex flex-col justify-evnly md:flex-row">
            <div class="w-full md:w-1/2 p-8">
                <img src="images/beach.jpg" alt="beach" class="rounded-lg border-8 border-white shadow-lg">
                <img src="images/desert.jpg" alt="beach" class="object-fill h-48 w-48 mt-4 rounded-lg border-8 border-white shadow-lg">
                <p class="mt-4 text-gray-900 flex">Find the best Destination</p>
            </div>
            <div class="w-full md:w-1/2 p-8">
                <p class="text-gray-300 uppercase font-bold">About Travella</p>
                <p class="text-blue-600 font-bold mt-2 text-4xl capitalize">world best travel agency company since 2012.</p>
                <p class="mt-2 text-gray-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium nulla laboriosam velit excepturi ipsam quae reiciendis? Voluptatem cupiditate expedita ullam. Necessitatibus autem ipsa dicta dolor dolorum laborum nesciunt placeat provident.</p>
    
                <ul class="mt-8">
                    <li class="mt-4 text-gray-900">Best tour services</li>
                    <li class="mt-4 text-gray-900">Best tour services</li>
                    <li class="mt-4 text-gray-900">Best tour services</li>
                </ul>
                <button class="mt-4 bg-red-500 text-white p-4 rounded uppercase font-bold">find tours</button>
            </div>
        </div>
    </div>

    <div class="mt-8 max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
        <div class="md:flex">
          <div class="md:shrink-0">
            <img class="h-48 w-full object-cover md:h-full md:w-48" src="images/water.jpg" alt="Modern building architecture">
          </div>
          <div class="p-8">
            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Company retreats</div>
            <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Incredible accomodation for your team</a>
            <p class="mt-2 text-slate-500">Looking to take your team away on a retreat to enjoy awesome food and take in some sunshine? We have a list of places to do just that.</p>
          </div>
        </div>
    </div>

    <div class="mt-16">
        <p class="flex-col text-gray-300 uppercase font-bold text-center uppercase">modern & beautiful</p>
        <p class="flex-col text-blue-600 font-bold text-center text-2xl capitalize">our most popular adventures</p>
        
        <div class="flex flex-col md:flex-row w-full justify-center items-center">
            <div class="px-4 py-3">
                <div class="border-4 bg-white border border-gray-200 rounded-lg shadow-lg mt-8">
                    <img src="images/feature-1.jpg" alt="feature">
                    <div class="text-gray-900 font-bold p-4">
                        <p>1 Review</p>
                        <p>Moscow Red city land</p>
                        <p><span class="text-red-500">$160</span> / per person</p>
                        <div class="border-gray-200 p-2 -mx-2">
                            <div class="bg-gray-200 border rounded p-2"><i class="far fa-clock"></i> 5 Days <span class="border-r border-gray-400"></span> <i class="far fa-clock"></i> Birmingham</div>
                        </div>
                        <p class="text-gray-300 w-56 text-sm">Eius quae consequuntur culpa pariatur repellat dicta saepe repudiandae, blanditiis cum explicabo fuga minima.</p>
                        <button class="capitalize mt-2 font-bold border p-4 rounded-lg text-gray-900">see details</button>
                    </div>
                </div>
            </div>

            <div class="px-4 py-3">
                <div class="border-4 bg-white border border-gray-200 rounded-lg shadow-lg mt-8">
                    <img src="images/feature-1.jpg" alt="feature">
                    <div class="text-gray-900 font-bold p-4">
                        <p>1 Review</p>
                        <p>Moscow Red city land</p>
                        <p><span class="text-red-500">$190</span> / per person</p>
                        <div class="border-gray-200 p-2 -mx-2">
                            <div class="bg-gray-200 border rounded p-2"><i class="far fa-clock"></i> 5 Days <span class="border-r border-gray-400"></span> <i class="far fa-clock"></i> Birmingham</div>
                        </div>
                        <p class="text-gray-300 w-56 text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quae consequuntur culpa pariatur repellat dicta saepe repudiandae.</p>
                        <button class="capitalize mt-2 font-bold border p-4 rounded-lg text-gray-900">see details</button>
                    </div>
                </div>
            </div>

            <div class="px-4 py-3">
                <div class="border-4 bg-white border border-gray-200 rounded-lg shadow-lg mt-8">
                    <img src="images/feature-1.jpg" alt="feature">
                    <div class="text-gray-900 font-bold p-4">
                        <p>1 Review</p>
                        <p>Moscow Red city land</p>
                        <p><span class="text-red-500">$170</span> / per person</p>
                        <div class="border-gray-200 p-2 -mx-2">
                            <div class="bg-gray-200 border rounded p-2"><i class="far fa-clock"></i> 5 Days <span class="border-r border-gray-400"></span> <i class="far fa-clock"></i> Birmingham</div>
                        </div>
                        <p class="text-gray-300 w-56 text-sm">fugiat libero excepturi in minus dolorum inventore, blanditiis cum explicabo fuga minima. Voluptatibus.</p>
                        <button class="capitalize mt-2 font-bold border p-4 rounded-lg text-gray-900">see details</button>
                    </div>
                </div>
            </div>
    
        </div>

    </div>

    <section class="mt-16 relative bg-[url(images/desert.jpg)] bg-cover bg-center bg-no-repeat">
        <div class="absolute inset-0 bg-white/75 sm:bg-transparent sm:bg-gradient-to-r sm:from-white/95 sm:to-white/25"></div>

        <div class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8">
            <div class="max-w-xl text-center sm:text-left">
            <h1 class="text-3xl font-extrabold sm:text-5xl">
                Group Travel to 

                <strong class="block font-extrabold text-rose-700">
                    New Zealand
                </strong>
            </h1>

            <p class="mt-4 font-extrabold"><span class="text-rose-700">$150</span> <span class="line-through">$300</span></p>

            <p class="mt-4 max-w-lg sm:text-xl sm:leading-relaxed">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illo
                tenetur fuga ducimus numquam ea!
            </p>

            <div class="mt-8 flex flex-wrap gap-4 text-center">
                <a
                href="#"
                class="block w-full rounded bg-rose-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-rose-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto"
                >
                See Details
                </a>
            </div>
            </div>
        </div>
    </section>

    

    <%- include('./partials/footer') %>
</body>
</html>